*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
  }
  .main-div {
    background-color: tomato;
    width: 40%;
    height: 95vh;
    position: absolute;
    margin-top: 2%;
    left: 30%;
  }
  header {
    background-color: yellow;
    padding: 17px;
  }
  
  header p {
    display: inline-block;
  }
  
  header i {
    display: inline-block;
    float: right;
  }
  
  main {
    background-color: yellowgreen;
    width: 50%;
    height: 86.6vh;
  }
  nav {
    background-color: violet;
  }