.div1 {
    width: 500px;
    height: 500px;
    border-radius: solid black 1px;
    background-color: blue;
}
.div2 {
    width: 400px;
    height: 400px;
    border-radius: solid black 1px;
    background-color: goldenrod;
}
.div3 {
    width: 300px;
    height: 300px;
    border-radius: solid black 1px;
    background-color: greenyellow;
}
/dee