.div1 {
    width: 500px;
    height: 500px;
    border-radius: solid black 1px;
    background-color: blue;
}
.div1 {
    width: 500px;
    height: 500px;
    border-radius: solid black 1px;
    background-color: blue;
}