body {
    box-sizing: border-box;
    position: relative;
  }
  
  .main_div {
    display: inline-block;
    justify-content: center;
    justify-items: center;
    margin: auto;
    position: absolute;
    top: 25vh;
    left: 20vw;
  }
  
  .first_div {
    border: 1px solid black;
    width: 185px;
    height: 250px;
    background-color: ivory;
    color: rgb(53, 50, 50);
    font-size: 15px;
    padding: 20px;
    text-align: center;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 10px;
  }
  .first_div:hover {
    border: 1px solid blue;
  }
  
  .first_div h1 {
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-size: 23px;
  }
  .first_div p {
    margin-bottom: 30px;
  }
  .one {
    width: 180px;
    height: 35px;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
  }
  .one:hover {
    background-color: rgb(165, 165, 165);
    color: black;
  }
  i {
    font-size: 42px;
    color: black;
  }
  
  .second_div {
    border: none;
    width: 185px;
    height: 250px;
    background-color: rgb(241, 13, 139);
    color: rgb(250, 249, 249);
    font-size: 15px;
    padding: 20px;
    text-align: center;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .second_div h1 {
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-size: 23px;
  }
  .second_div p {
    margin-bottom: 30px;
  }
  .two {
    width: 180px;
    height: 35px;
    border-radius: 40px;
    background-color: rgb(236, 236, 236);
    color: rgb(88, 85, 85);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
  }
  .two:hover {
    background-color: rgb(39, 38, 38);
    color: white;
  }
  i {
    font-size: 42px;
    color: rgb(233, 233, 233);
  }
  
  .Third_div {
    border: none;
    width: 185px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    color: rgb(71, 68, 68);
    font-size: 15px;
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 5px;
    display: inline-block;
  }
  .Third_div:hover {
    border: 1px solid blue;
  }
  .Third_div h1 {
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-size: 23px;
  }
  .Third_div p {
    margin-bottom: 30px;
  }
  .three {
    width: 180px;
    height: 35px;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
  }
  .three:hover {
    background-color: rgb(184, 184, 184);
    color: black;
  }
  i {
    font-size: 42px;
    color: black;
  }
  .fab fa-instagram {
    color: white;
  }
  
  @media screen and (max-width: 900px) {
    .first_div,
    .second_div,
    .Third_div {
      display: block;
      margin: 10%;
    }
  }
  ======
  body {
    box-sizing: border-box;
    position: relative;
  }
  
  .main_div {
    display: inline-block;
    justify-content: center;
    justify-items: center;
    margin: auto;
    position: absolute;
    top: 25vh;
    left: 20vw;
  }
  
  .first_div {
    border: 1px solid black;
    width: 185px;
    height: 250px;
    background-color: ivory;
    color: rgb(53, 50, 50);
    font-size: 15px;
    padding: 20px;
    text-align: center;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 10px;
  }
  .first_div:hover {
    border: 1px solid blue;
  }
  
  .first_div h1 {
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-size: 23px;
  }
  .first_div p {
    margin-bottom: 30px;
  }
  .one {
    width: 180px;
    height: 35px;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
  }
  .one:hover {
    background-color: rgb(165, 165, 165);
    color: black;
  }
  i {
    font-size: 42px;
    color: black;
  }
  
  .second_div {
    border: none;
    width: 185px;
    height: 250px;
    background-color: rgb(241, 13, 139);
    color: rgb(250, 249, 249);
    font-size: 15px;
    padding: 20px;
    text-align: center;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .second_div h1 {
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-size: 23px;
  }
  .second_div p {
    margin-bottom: 30px;
  }
  .two {
    width: 180px;
    height: 35px;
    border-radius: 40px;
    background-color: rgb(236, 236, 236);
    color: rgb(88, 85, 85);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
  }
  .two:hover {
    background-color: rgb(39, 38, 38);
    color: white;
  }
  i {
    font-size: 42px;
    color: rgb(233, 233, 233);
  }
  
  .Third_div {
    border: none;
    width: 185px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    color: rgb(71, 68, 68);
    font-size: 15px;
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 5px;
    display: inline-block;
  }
  .Third_div:hover {
    border: 1px solid blue;
  }
  .Third_div h1 {
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-size: 23px;
  }
  .Third_div p {
    margin-bottom: 30px;
  }
  .three {
    width: 180px;
    height: 35px;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
  }
  .three:hover {
    background-color: rgb(184, 184, 184);
    color: black;
  }
  i {
    font-size: 42px;
    color: black;
  }
  .fab fa-instagram {
    color: white;
  }
  
  @media screen and (max-width: 900px) {
    .first_div,
    .second_div,
    .Third_div {
      display: block;
      margin: 10%;
    }
  }
 