body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
    overflow-x: hidden;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .logo p {
    display: inline-block;
    color: rgb(17, 79, 196);
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .logo i {
    color: rgb(16, 81, 202);
    font-size: 1.5rem;
  }
  .logo {
    display: block;
    padding: 0px 50px;
  }
  
  .login {
    border: solid 1px rgb(231, 226, 226);
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(240, 240, 240);
    padding: 10px 20px;
    box-sizing: border-box;
    height: 80vh;
    width: 26vw;
    text-align: left;
  }
  .b-2 button p {
    display: inline-block;
  }
  .login h1 {
    margin-bottom: 0;
    font-size: 2.5rem;
    color: rgb(43, 42, 42);
    font-style: bold;
  }
  .login p {
    margin-top: 3px;
    margin-bottom: 7;
  }
  .login input {
    width: 97%;
    padding: 12px 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px rgb(179, 173, 173) solid;
    margin-top: 5px;
    font-size: larger;
  }
  .login p a {
    color: rgb(21, 96, 196);
    cursor: pointer;
    font-size: small;
    margin-top: 0;
  }
  
  .b-1 button {
    background-color: rgb(21, 96, 196);
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 15px 5px;
    width: 97%;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  .b-1 button:hover {
    background-color: rgb(17, 69, 138);
    border-radius: 50px;
    color: rgb(224, 221, 221);
    text-align: center;
    padding: 15px 5px;
    width: 97%;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  .or {
    text-align: center;
  }
  .b-2 button {
    border-radius: 50px;
    font-size: 1rem;
    color: rgb(46, 45, 45);
    text-align: center;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 97%;
    margin-bottom: 10px;
    border: 1px solid grey;
    background-color: transparent;
    cursor: pointer;
  }
  .b-2 button:hover {
    border-radius: 50px;
    font-size: 1rem;
    color: rgb(46, 45, 45);
    text-align: center;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 97%;
    margin-bottom: 10px;
    border: 1px solid grey;
    background-color: rgb(223, 219, 219);
    cursor: pointer;
    border: 1px solid rgb(97, 96, 96);
  }
  .b-2 i {
    color: black;
    font-size: 1.8rem;
  }
  p a {
    text-decoration: none;
    font-size: 1.2rem;
  }
  footer {
    width: 100vw;
    height: 3rem;
    margin: 0;
    box-sizing: border-box;
    word-spacing: 7px;
    text-align: center;
  }
  footer ul li {
    display: inline-block;
  }
  footer ul li a {
    text-decoration: none;
    color: black;
  }
  footer ul li a:hover {
    color: black;
    text-decoration: underline black;
  }