h3 {
font-family: "Lucida Console", 'Courier New', monospace;
margin-bottom: 2px;
}
h2 {
    margin-top: 2px;
}
img {
    display: inline-block;
    width: 30px;
    height: 30ox;
    border-radius: 30px;
    /* padding-right: 14px; */
    float: left;
}
section {
    text-decoration: underline;
}
.sve,
.sve1,
.sve2 {
margin: 90px 0px 100px;
float:left;
margin-right: 100px;
margin-left: 70px;
}